body{
  background-color: aquamarine;
  margin:0;
  padding: 0;
}
.container{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header>h1{
  font-size: 30px;
  font-weight: 600;
}
form{
  /* background-color: bisque; */
  width: 100%;
  padding: 0;
  margin: 0;
}
.completed{
  text-decoration: line-through;
  opacity: 0.5;
}
.headform{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form>.headform>.todo-input{
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 90%;
  outline: none;
  height: 40px;
  margin: 0;
  padding: 0;
  /* padding: 10px; */

}
form>.headform>.todo-button{
  background-color: skyblue;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* padding: 3px; */
  /* margin-top: 3px; */
  font-weight: 700;
  /* margin: 5px; */
  border-radius: 5px;
  border: none;
  padding: 0;

}
.edit-btn{
  background-color: yellow;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* padding: 3px; */
  /* margin-top: 3px; */
  font-weight: 700;
  /* margin: 5px; */
  border-radius: 5px;
  border: none;
  padding: 0;

}
form>.select{
  margin: 0;
}
.filter-todo{
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 90%;
  outline: none;
  height: 40px;
  margin: 0;
  padding: 0 1rem;
  margin-top: 1rem;
  /* padding: 10px; */
}
.todo-container{
  width: 100%;
}
.todo-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: red; */
  display: block;

}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
}
.todo-item{
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  outline: none;
  height: 40px;
  margin: 0;
  padding: 0 1rem;
  /* margin-top: 1rem; */
}
.complete-btn{
  background-color: green;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* padding: 3px; */
  /* margin-top: 3px; */
  font-weight: 700;
  /* margin: 5px; */
  border-radius: 5px;
  border: none;
  padding: 0; 
}
.trash-btn{
  background-color: brown;
  color: white;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* padding: 3px; */
  /* margin-top: 3px; */
  font-weight: 700;
  /* margin: 5px; */
  border-radius: 5px;
  border: none;
  padding: 0; 
}

.ullist{
  list-style-type: none;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}